<header>
  <div class="header-inner">
    <a class="logo" href="{{ '/' | relative_url }}">
      <img src="{{ '/logo.png' | relative_url }}" alt="TooTee Learning logo">
      <div class="logo-text">
        <span>TooTee Learning</span>
        <span>tooteelearning.com</span>
      </div>
    </a>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/tooth-facts.html' | relative_url }}">Tooth Facts</a>
      <a href="{{ '/for-kids.html' | relative_url }}">For Kids</a>
      <a href="{{ '/for-parents.html' | relative_url }}">For Parents</a>
      <a href="{{ '/start-learning.html' | relative_url }}" class="nav-cta">Start Learning</a>
    </nav>
  </div>
</header>
